/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i); /*!

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

/*@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    font-family: "Noto Sans", sans-serif !important;
}

html, body {
    height: 100%;
    width: 100%
}

.clean-block.clean-hero {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0
}

    .clean-block.clean-hero:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: currentColor;
        z-index: 1;
    }

    .clean-block.clean-hero .text {
        max-width: 640px;
        color: #fff;
        z-index: 2;
        padding: 40px 15px;
        text-shadow: 1px 1px 1px rgba(0,0,0,.15)
    }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #6c757d !important;
}



@media(max-width: 575.98px) {
    .clean-block.clean-services .row div:last-child .card {
        margin-bottom: 0
    }
}

@media(min-width: 576px) {
    .clean-block {
        padding-bottom: 100px
    }

        .clean-block .block-heading {
            padding-top: 80px
        }

        .clean-block.clean-hero {
            min-height: 680px;
        }

            .clean-block.clean-hero .text {
                padding: 0px
            }

        .clean-block.clean-block.clean-gallery .item {
            margin-bottom: 40px
        }

        .clean-block.payment-form .title {
            font-size: 1.2em
        }

        .clean-block.payment-form .products {
            padding: 40px
        }

            .clean-block.payment-form .products .item-name {
                font-size: 1em
            }

            .clean-block.payment-form .products .price {
                font-size: 1em
            }

        .clean-block.payment-form .card-details {
            padding: 40px 40px 30px
        }

            .clean-block.payment-form .card-details button {
                margin-top: 2em
            }
}

@media(min-width: 768px) {
    .clean-block.clean-info.right > .container > .row {
        flex-direction: row-reverse
    }

    .clean-block.clean-info {
        padding-left: 0px;
        padding-right: 0px;
        text-align: inherit
    }

        .clean-block.clean-info h3, .clean-block.clean-info .h3 {
            margin-top: 0
        }

    .clean-block.clean-cart .items .product {
        padding: 0;
        text-align: left
    }

        .clean-block.clean-cart .items .product:not(:last-child) {
            padding-top: 0;
            padding-bottom: 25px
        }

        .clean-block.clean-cart .items .product .price {
            font-weight: bold;
            font-size: 22px
        }

        .clean-block.clean-cart .items .product .quantity {
            text-align: center
        }

            .clean-block.clean-cart .items .product .quantity .quantity-input {
                margin: auto;
                padding-left: 15px;
                padding-right: 5px
            }

        .clean-block.clean-cart .items .product .product-name {
            font-size: 1em
        }

        .clean-block.clean-cart .items .product .product-info {
            padding: 0 15px 0 1.5em
        }

    .clean-block.clean-post .post-image {
        height: 400px
    }

    .clean-block.clean-blog-list .block-content {
        padding: 80px
    }

    .clean-blog-post {
        padding-bottom: 70px
    }

    .clean-block.add-on {
        flex-direction: row
    }

        .clean-block.add-on.call-to-action h3, .clean-block.add-on.call-to-action .h3 {
            margin-right: 20px;
            margin-bottom: 0px
        }

        .clean-block.add-on.sponsors a:not(:last-child) img {
            margin-right: 20px;
            margin-bottom: 0px
        }

        .clean-block.add-on.newsletter-sign-up h2, .clean-block.add-on.newsletter-sign-up .h2 {
            margin-bottom: 0px
        }

        .clean-block.add-on.newsletter-sign-up input {
            max-width: 200px;
            margin-bottom: 0px;
            margin-top: 0px;
            margin-right: 10px
        }

    .clean-block.clean-catalog .filters {
        padding-top: 30px
    }

    .clean-block.clean-catalog .products {
        padding: 30px 30px 30px 0
    }

        .clean-block.clean-catalog .products .clean-product-item .product-name {
            text-align: left
        }

        .clean-block.clean-catalog .products .row:first-of-type {
            border-top: 1px solid #e8e6e6;
            border-left: 1px solid #e8e6e6
        }

        .clean-block.clean-catalog .products .clean-product-item {
            border-right: 1px solid #e8e6e6
        }

    .clean-block.clean-product .block-content {
        padding: 40px
    }

    .clean-block.clean-product .tab-content .description .right {
        text-align: right
    }
}

@media(min-width: 992px) {
    .clean-card {
        margin-bottom: 0px
    }

    .clean-blog-post h3, .clean-blog-post .h3 {
        padding-top: 0px
    }

    .clean-block.clean-post .post-image {
        height: 500px
    }

    .clean-block.clean-post .post-body {
        padding: 70px 150px
    }

    .clean-block.clean-testimonials .item {
        margin-bottom: 0px
    }

    .clean-block.clean-post .post-body {
        padding: 70px 100px
    }

        .clean-block.clean-post .post-body h4, .clean-block.clean-post .post-body .h4 {
            padding-top: 50px
        }
}

navbar {
    font: "ITC-AvantGarde-Gothic XLight","Noto Sans",sans-serif;
}

    .navbar .to {
        margin: 0;
        padding: 0;
    }

      .navbar .navbar-nav .nav-link {
            font-size: 16px;
            position: relative;
            padding: 1rem 1.3rem;
            color: #545a6d;
      }

        .navbar .navbar-nav .nav-link i {
            font-size: 16px;
        }

.text-muted {
    color: #495057 !important;
}
