@page
@model IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

@{
    ViewData["Title"] = "Home page";
}

<section class="hero-area" style="background-image:url(&quot;images/bg3.jpg&quot;);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="hero-content">
                    <div class="text">
                        <h2>Patient medical information.</h2>
                        <p>Save information on medical tests, treatment prescriptions. Share it with your doctor for a diagnosis.</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
